!!!
%html
  %head
    %meta(charset='utf-8')
    %meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
    %title Jon Dot Zone
    :sass
      body
        background-color: #5c4471
        color: #111
        font-family: courier
        font-size: 30px
        margin: 0
        padding: 0
        text-align: center

      header
        margin: 40px 0

      article
        margin-bottom: 40px

      h1
        font-size: 2.5em
        margin: 0

      h2
        margin-bottom: 0

      .tagline
        margin: 5px 0 10px

      .elsewhere
        font-size: 0.8em
        margin-top: 15px

      p
        font-size: 1.25em

      a
        color: #111

      ul
        list-style-type: none
        margin: 0
        padding: 0

  %body
    %header
      %h1 Jon Dot Zone
      %p.tagline A personal URL shortener
      %p.elsewhere
        %a(href='https://github.com/jonallured/shrt') source
        |
        %a(href='https://www.jonallured.com') jonallured.com
        |
        %a(href='https://twitter.com/jonallured') @jonallured

    %article
      %h2 general
      %ul
        - for link in links do
          %li
            %a(href="https://jon.zone/#{link['short']}")= "jon.zone/#{link['short']}"

      %h2 blog posts
      %ul
        - for post in posts do
          %li
            %a(href="https://jon.zone/#{post['short']}")= "jon.zone/#{post['short']}"
